<a href="https://colab.research.google.com/github/qjpbtuzara-ai/CPE311-CPE22S3/blob/main/Tuzara_HOA6_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Hands-on Activity 6.1 Introduction to Data Analysis and Tools**

CPE311 Computational Thinking with Python <br>
Name: Tuzara, John Paul B. <br>
Section: CPE22S3 <br>
Performed on: 2/12/2026 <br>
Submitted on: 2/12/2026 <br>
Submitted to: Engr. Neal Barton James Matira <br>

**6.3 Supplementary Activities** <br>

In [1]:
import random
random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]

In [2]:
print(salaries)

[844000.0, 758000.0, 421000.0, 259000.0, 511000.0, 405000.0, 784000.0, 303000.0, 477000.0, 583000.0, 908000.0, 505000.0, 282000.0, 756000.0, 618000.0, 251000.0, 910000.0, 983000.0, 810000.0, 902000.0, 310000.0, 730000.0, 899000.0, 684000.0, 472000.0, 101000.0, 434000.0, 611000.0, 913000.0, 967000.0, 477000.0, 865000.0, 260000.0, 805000.0, 549000.0, 14000.0, 720000.0, 399000.0, 825000.0, 668000.0, 1000.0, 494000.0, 868000.0, 244000.0, 325000.0, 870000.0, 191000.0, 568000.0, 239000.0, 968000.0, 803000.0, 448000.0, 80000.0, 320000.0, 508000.0, 933000.0, 109000.0, 551000.0, 707000.0, 547000.0, 814000.0, 540000.0, 964000.0, 603000.0, 588000.0, 445000.0, 596000.0, 385000.0, 576000.0, 290000.0, 189000.0, 187000.0, 613000.0, 657000.0, 477000.0, 90000.0, 758000.0, 877000.0, 923000.0, 842000.0, 898000.0, 923000.0, 541000.0, 391000.0, 705000.0, 276000.0, 812000.0, 849000.0, 895000.0, 590000.0, 950000.0, 580000.0, 451000.0, 660000.0, 996000.0, 917000.0, 793000.0, 82000.0, 613000.0, 486000.0]

Exercise 1: Using the data generated above, calculate the following statistics without importing anything from the statistics module in the standard library (https://docs.python.org/3/library/statistics.html) and then confirm your results match up to those that are obtained when using the statistics module (where possible)


* Mean
* Median
* Mode (hint: check out the Counter in the collections module of the standard library at
https://docs.python.org/3/library/collections.html#collections.Counter)
* Sample variance
* Sample standard deviation

In [8]:
#Mean
mean = sum(salaries)/len(salaries)
print(f"mean: ",mean)

#Median
sorted_sal = sorted(salaries)
n = len(sorted_sal)
mid_index = n // 2
if n % 2 == 1:
        median = sorted_sal[mid_index]
else:
        median = (sorted_sal[mid_index - 1] + sorted_sal[mid_index]) / 2

print(f"median: ", median)

#Mode
mode = {}
count = {}
max_count = 0
for item in salaries:
  if item in count:
    count[item] += 1
  else:
    count[item] = 1

max_count = max(count.values())
for key in count:
    if count[key] == max_count:
        mode[key] = max_count

print(count)

print(f"mode: ", mode)

#Sample Variance
s_var = sum((items - mean) ** 2 for items in salaries) / (len(salaries) - 1)
print(f"sample variance: ", s_var)

#Sample Standard Deviation
s_std = s_var**0.5
print(f"sample standard dev: ",s_std)

mean:  585690.0
median:  589000.0
{844000.0: 1, 758000.0: 2, 421000.0: 1, 259000.0: 1, 511000.0: 1, 405000.0: 1, 784000.0: 1, 303000.0: 1, 477000.0: 3, 583000.0: 1, 908000.0: 1, 505000.0: 1, 282000.0: 1, 756000.0: 1, 618000.0: 1, 251000.0: 1, 910000.0: 1, 983000.0: 1, 810000.0: 1, 902000.0: 1, 310000.0: 1, 730000.0: 1, 899000.0: 1, 684000.0: 1, 472000.0: 1, 101000.0: 1, 434000.0: 1, 611000.0: 1, 913000.0: 1, 967000.0: 1, 865000.0: 1, 260000.0: 1, 805000.0: 1, 549000.0: 1, 14000.0: 1, 720000.0: 1, 399000.0: 1, 825000.0: 1, 668000.0: 1, 1000.0: 1, 494000.0: 1, 868000.0: 1, 244000.0: 1, 325000.0: 1, 870000.0: 1, 191000.0: 1, 568000.0: 1, 239000.0: 1, 968000.0: 1, 803000.0: 1, 448000.0: 1, 80000.0: 1, 320000.0: 1, 508000.0: 1, 933000.0: 1, 109000.0: 1, 551000.0: 1, 707000.0: 1, 547000.0: 1, 814000.0: 1, 540000.0: 1, 964000.0: 1, 603000.0: 1, 588000.0: 1, 445000.0: 1, 596000.0: 1, 385000.0: 1, 576000.0: 1, 290000.0: 1, 189000.0: 1, 187000.0: 1, 613000.0: 2, 657000.0: 1, 90000.0: 1, 877000.0: 1, 923000.0: 2, 842000.0: 1, 898000.0: 1, 541000.0: 1, 391000.0: 1, 705000.0: 1, 276000.0: 1, 812000.0: 1, 849000.0: 1, 895000.0: 1, 590000.0: 1, 950000.0: 1, 580000.0: 1, 451000.0: 1, 660000.0: 1, 996000.0: 1, 917000.0: 1, 793000.0: 1, 82000.0: 1, 486000.0: 1}
mode:  {477000.0: 3}
sample variance:  70664054444.44444
sample standard dev:  265827.11382484

Exercise 2
Using the same data, calculate the following statistics using the functions in the statistics module where appropriate:
* Range
* Coefficient of variation
* Interquartile range
* Quartile coefficient of dispersion

In [12]:
#Range
range = max(salaries) - min(salaries)
print(f"range: ",range)
#Coefficient of variation
cv = (s_std/mean) * 100
print(f"Coefficient of Variation: ", cv)
#Interquartile Range
n = len(sorted(salaries))
def get_median(data):
    length = len(data)
    mid = length // 2
    if length % 2 == 1:
        return data[mid]
    return (data[mid - 1] + data[mid]) / 2

q1 = get_median(sorted_sal[:n//2])
q3 = get_median(sorted_sal[(n + 1)//2:])
iqr = q3 - q1
print(f"IQR: ", iqr)

#Quartile Coefficient of Dispersion
qcd = (q3 - q1) / (q3 + q1)
print(f"QCD: ", qcd)

range:  995000.0
Coefficient of Variation:  45.38699889443903
IQR:  417500.0
QCD:  0.3417928776094965

Exercise 3: Pandas for Data Analysis
Load the diabetes.csv file. Convert the diabetes.csv into dataframe
Perform the following tasks in the diabetes dataframe:
1. Identify the column names
2. Identify the data types of the data
3. Display the total number of records
4.  Display the first 20 records
5. Display the last 20 records
6. Change the Outcome column to Diagnosis
7. Create a new column Classification that display "Diabetes" if the value of outcome is 1 , otherwise "No Diabetes"
8. Create a new dataframe "withDiabetes" that gathers data with diabetes
9. Create a new dataframe "noDiabetes" thats gathers data with no diabetes
10. Create a new dataframe "Pedia" that gathers data with age 0 to 19
11. Create a new dataframe "Adult" that gathers data with age greater than 19
12. Use numpy to get the average age and glucose value.
13.  Use numpy to get the median age and glucose value.
14.  Use numpy to get the middle values of glucose and age.
15.  Use numpy to get the standard deviation of the skinthickness

In [14]:
import pandas as pd
import numpy as np

df = pd.read_csv('diabetes.csv')

#1. Identify the column names
print("Column Names:", df.columns.tolist())

#2. Identify the data types of the data
print("\nData Types:\n", df.dtypes)

#3. Display the total number of records
print("\nTotal Records:", len(df))

#4. Display the first 20 records
print("\nFirst 20 Records:")
display(df.head(20))

#5. Display the last 20 records
print("\nLast 20 Records:")
display(df.tail(20))

#6. Change the Outcome column to Diagnosis
df.rename(columns={'Outcome': 'Diagnosis'}, inplace=True)

#7. Create a new column Classification
df['Classification'] = df['Diagnosis'].apply(lambda x: 'Diabetes' if x == 1 else 'No Diabetes')

#8. Create a new dataframe "withDiabetes" that gathers data with diabetes
withDiabetes = df[df['Diagnosis'] == 1].copy()

#9. Create a new dataframe "noDiabetes" that gathers data with no diabetes
noDiabetes = df[df['Diagnosis'] == 0].copy()

#10. Create a new dataframe "Pedia" that gathers data with age 0 to 19
Pedia = df[df['Age'] <= 19].copy()

#11. Create a new dataframe "Adult" that gathers data with age greater than 19
Adult = df[df['Age'] > 19].copy()

#12. Use numpy to get the average age and glucose value
avg_age = np.mean(df['Age'])
avg_glucose = np.mean(df['Glucose'])
print(f"\nAverage Age: {avg_age:.2f}")
print(f"Average Glucose: {avg_glucose:.2f}")

#13. Use numpy to get the median age and glucose value
median_age = np.median(df['Age'])
median_glucose = np.median(df['Glucose'])
print(f"Median Age: {median_age}")
print(f"Median Glucose: {median_glucose}")

#14. Use numpy to get the middle values of glucose and age
mid_age = np.median(df['Age'])
mid_glucose = np.median(df['Glucose'])
print(f"Middle Age: {mid_age}")
print(f"Middle Glucose: {mid_glucose}")

#15. Use numpy to get the standard deviation of the skinthickness
skin_std = np.std(df['SkinThickness'])
print(f"SkinThickness Standard Deviation: {skin_std:.2f}")

Column Names: ['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin', 'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome']

Data Types:
 Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

Total Records: 768

First 20 Records:

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1
10,4,110,92,0,0,37.6,0.191,30,0
11,10,168,74,0,0,38.0,0.537,34,1
12,10,139,80,0,0,27.1,1.441,57,0
13,1,189,60,23,846,30.1,0.398,59,1
14,5,166,72,19,175,25.8,0.587,51,1
15,7,100,0,0,0,30.0,0.484,32,1
16,0,118,84,47,230,45.8,0.551,31,1
17,7,107,74,0,0,29.6,0.254,31,1
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1

Last 20 Records:

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
748,3,187,70,22,200,36.4,0.408,36,1
749,6,162,62,0,0,24.3,0.178,50,1
750,4,136,70,0,0,31.2,1.182,22,1
751,1,121,78,39,74,39.0,0.261,28,0
752,3,108,62,24,0,26.0,0.223,25,0
753,0,181,88,44,510,43.3,0.222,26,1
754,8,154,78,32,0,32.4,0.443,45,1
755,1,128,88,39,110,36.5,1.057,37,1
756,7,137,90,41,0,32.0,0.391,39,0
757,0,123,72,0,0,36.3,0.258,52,1
758,1,106,76,0,0,37.5,0.197,26,0
759,6,190,92,0,0,35.5,0.278,66,1
760,2,88,58,26,16,28.4,0.766,22,0
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

Average Age: 33.24
Average Glucose: 120.89
Median Age: 29.0
Median Glucose: 117.0
Middle Age: 29.0
Middle Glucose: 117.0
SkinThickness Standard Deviation: 15.94

**6.4 Conclusion**

In this activity, I have coded various statistical values such as mean, std dev, variance, median, iqr etc. in which all are done without using the statistics library in Exercises 1 and 2. In exercise 3 however, I have used both pandas and numpy to perform on the diabetes.csv file. After loading the csv file, the column names are showed using tolist and their data types are displayed using dtypes. The total number of records are displayed using len() on the dataframe as well as displaying the last and first records, there is also changing the name and adding a new column. New dataframes were also created similar to the diabetes.csv file in which numpy could be used to show statistical values on specific columns. Overall, this activity have made me learn more about the application of statistics into python.